body {
	max-width: 800px;
	margin: 0 auto;
	background-color: grey;
	font: 100%;
	
}

/* Gallery elements -------------------------------------------*/

.gallery{
	border: 5px solid black;
	list-style-type:none;
	overflow: hidden;
	padding: 1.25%; /*10px*/
	background: #91320d;
	border-radius: 10px;	
}

section li{
	float:left;
	padding: 1.875%; /*15px*/
	overflow: hidden;
	margin-left: 4.625%; /*37px*/
}


section a{
	border: 5px solid black;
	display: block;
	outline: 0;   
}

section a:hover{
	border-color: white;
}




/* nav elements ---------------------------------------------*/

nav ul {
	width: 37.5%;     /*300px*/
	margin: 0 auto;
	background: #999;
	list-style-type:none;
	padding: 0;
	overflow: hidden;
}

nav li{
	width: 33.33333333%;      /*100px*/
	background: silver;
	float: left;
}

nav a{
	text-decoration: none;
	background-color: grey;
	display: block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	color: #91320d;
	font-size: 1.25em; /*20px*/
}
nav a:hover {
	color:#fff;
	background:#91320d;
}
/*nav end ---------------------------------------------------------------------------*/

/* table -----------------------------------------------------------------------------*/

table{
	border: 1px solid #000;
	margin: 0 auto;
	border-collapse: collapse;
	width: 87.5%; /*700px*/
}
th{
	border: 1px dashed #000;
	font-family: "Helvetica Neue";
	font-size: 20px;
}
td{
	border: 1px solid #000;
	font-family: "Helvetica Neue";
	font-size: 15px;
	text-align: right;
	padding-right: 5px;
}
table img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
/* table end ------------------------------------------------------------------------ */


h1{
	font-family:"Brush Script Std";
	font-size: 56px;
	color:white;
	text-decoration: none;
	text-shadow: 2px 2px 2px black;
}

h2{
	font-family:"Brush Script Std";
	font-size: 218.8%; /*35px*/
	color: white;
	text-shadow: 2px 2px 2px black;
}



.logo{
	float:left;
	border: 10px solid white;
	max-width: 100%;  /*350px*/
}


aside{
	clear:both;
	-moz-column-count: 4;
	-moz-column-gap: 3.125%; /*25px*/
	font-family: "Helvetica Neue";
	line-height: 1.2;
	font-size: 87.5% /*14  px*/
	/*margin-top:20px;*/
	height: 200px;
}


article{
	overflow:hidden;
	font-family: "Helvetica Neue";
	line-height: 1.2;
	font-size: 87.5%; /* 14 px*/
}

footer{
	font-family: "Helvetica Neue";
	line-height: 1.2;
	font-size: 87.5%; /*14px*/
	color: grey;
	background-color: black;
	padding: 4px;
	border-radius: 1.25% 1.25% 0% 0%; /*10 px * 10px 0px 0px*/
}

footer p {
	text-align: center;
}

img{
	max-width: 100%;
}


/*Call to Action---------------------------------------------------------- */
div p{
	font-family: "Helvetica Neue";
	line-height: 1.2;
	font-size: 150%; /*24px*/
}

.cta{
	overflow: hidden;
	padding: 1.25%; /*10px*/
	background-color: white;
	height: 295px;
	
}

/*Form------------------------------------------------------------------------*/

.form{
	margin-left:auto;
	margin-right: auto;
	/*background-color: #780000;*/
	border: solid 5px #000;
}

.name_form{
	
}

label{
	font-family:"Helvetica Neue" ;
	font-size: 87.5% bold; /*14px*/
	color: black;
}

span{
	font-family:"Helvetica Neue";
	font-size: 87.5%; /*14px*/
	color: black;
}

form{
	padding:20px;
}



#submit_button{
	width: 200px;
	height: 50px;
	font-size: 87.5% ;
	color: #c0b900;
}





/* CSS3 button code ------------------------------------------------------*/

.button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 23px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}


/* orange -------------------------------------------------------------------*/
.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}




/*media queries--------------------------------------------------------------------*/

/*Tablet----------------------------------------------------------------------------*/
 @media screen and (min-width: 768px) and (max-width: 959px) {
 	
 	body{
 		/*background-color:red;*/
 	}
 
 }

/*Mobile----------------------------------------------------------------------------*/

@media only screen and (min-width: 480px) and (max-width: 767px) {

	body{
 		/*background-color:blue;*/
 	}
 	aside{
 		-moz-column-count: none;
 	}
 	
 	.logo{
 		float: none;
 		
 	}
 	section{
 		float:none;
 	}
}

/* mobile portrait--------------------------------------------------------------------*/

@media only screen and(max-width: 479px){


	body{
 		/*background-color:yellow;*/
 		
 	}
 	
 	aside{
 		-moz-column-count: none;
 	}
 	
 	.logo{
 		float: none;
 	}
 	.gallery{
 		float: none;
 	}
 	section{
 		float:none;
 	}
 	
}
